/*INTRO*/

@keyframes intrologo
{
	0%
	{
		opacity: 0;
	}
	5%
	{
		opacity: 1;
	}
}

@keyframes intro
{
	0%
	{
		opacity: 1;
	}
	95%
	{
		opacity: 1;
	}
	99%
	{
		z-index: -5;
	}
	100%
	{
		z-index: -5;
		opacity: 0;
	}
}

/*HEARTS*/
#heart-container
{
	width: 100%;
	height: 1vh;
	position: absolute;
	bottom: -100px;
	left: 0;
	filter: blur(15px);
}

.stray-heart
{
	/*display: block;*/
	position: absolute;
	/*width: 80px;
	height: 80px;*/
	background: center / contain no-repeat url('images/heart.png');

	-webkit-animation: stray-heart 10s infinite linear, sway 2s infinite ease-in-out alternate;
	-moz-animation: stray-heart 10s infinite linear, sway 2s infinite ease-in-out alternate;
}

.paused
{
	animation-play-state: paused;
}

/*.stray-heart:nth-child(5n+5) {
-webkit-animation-delay: 1s;
-moz-animation-delay: 1s;
}
.stray-heart:nth-child(3n+2) {
-webkit-animation-delay: 1.5s;
-moz-animation-delay: 1.5s;
}

.stray-heart:nth-child(2n+5) {
-webkit-animation-delay: 1.7s;
-moz-animation-delay: 1.7s;
}*/

@-webkit-keyframes stray-heart 
{
	100% 
	{
		opacity: 0;
		-webkit-transform: translate(0, -100vh);
	}
}

@-webkit-keyframes sway 
{
	100% 
	{
		margin-left: 8vw;
	}
}

/*GENERIC*/

@keyframes zoomin
{
	0%
	{
		transform: scale(1.1);
		/*opacity: 0;*/
	}
	/*5%
	{
		opacity: 100%;
	}*/
	100%
	{
		transform: scale(1.5);
	}
}

@keyframes shiftx
{
	0%
	{
		transform: scale(1.2);
	}
	100%
	{
		transform: translateX(50%);
	}
}

/*KITCHEN*/

@keyframes kitchen
{
	0%
	{
		transform: scale(30);
		/*transform: translateY(-10%);*/
	}
	100%
	{
		/*transform: translateY(0%);*/
	}
}

@keyframes scene15
{
	0%
	{
		transform: scale(1.2);
	}
	100%
	{
		transform: scale(1.2);
		transform: translate(-20%, 20%);
	}
}

@keyframes scene16
{
	0%
	{
		transform: scale(1.1) translate(0%, 0%);
	}
	1%
	{
		transform: scale(1.1) translate(-1%, 0%);
	}
	2%
	{
		transform: scale(1.1) translate(0%, 0%);
	}
}

@keyframes scene18
{
	0%
	{
		transform: scale(1.1);
	}
	100%
	{
		transform: scale(1.14);
	}
}