*
{
	box-sizing: border-box;
}

body
{
	margin: 0;
	height: 100vh;
	width: 100vw;

	background-color: pink;

	display: flex;
	justify-content: center;
	align-items: center;
}

/*
**********WRAPPING BODIES**************
*/

.wrapper
{
	width: 75%;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

}

#scene-window
{
	height: 658px;
	width: 800px;

	background-color: #ffe6e6;
	border: 3px solid #ff0066;
	border-radius: 15px;

	display: flex;
}

form
{
	display: flex;
	justify-content: center;
}

#scene
{
	transition: 1.0s linear 0s;

	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

#line-text
{
	margin-top: 50%;
	font-size: 50px;
	color: white;
	text-shadow: 0 0 10px #000000;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
}